// MOBILE VARIABLES =====================

$mobile-font-family1: Roboto, sans-serif;
$mobile-font-family2: Montserrat, sans-serif;
$mobile-font-weight3: 300;
$mobile-font-weight4: 400;
$mobile-font-weight7: 700;