// DESKTOP VARIABLES =====================

$desktop-width-max: 1440px;
$desktop-width-main: 940px;
$desktop-font-family1: Roboto, sans-serif;
$desktop-font-family2: Montserrat, sans-serif;
$desktop-font-weight3: 300;
$desktop-font-weight4: 400;
$desktop-font-weight7: 700;