@import "../tablet/mixins";
@import "../tablet/variables";

// TABLET MAIN =======================

@media screen and (min-width: 768px) and (max-width: 1339px) {

	main {
		width: $tablet-width;
		margin: auto;
	}

	.h2-1 {
		margin-top: 94px;
	}

	.dreamshare {
		margin: 35px auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.dreamshare__container {
		@include dreamshare__container_tablet;

		img {
			@include dreamshare__container_tablet;
		}

		.dreamshare__box {
			width: 236px;
			margin-top: 140px;

			.dreamshare__text-2 {
				width: 187px;
				margin-top: 29px;
			}
		}

		.dreamshare__box_center {
			margin-top: 159px;

			.dreamshare__text_center {
				width: 150px;
				margin-top: 13px;
			}

			.dreamshare__text-2_center {
				margin-top: 23px;
			}
		}
	}

	.h2-2 {
		margin-top: 84px;
	}

	.partner-for-holiday {
		width: 513px;
		display: flex;
		flex-wrap: wrap;

		.partner-container__box {
			margin-top: 21px;
		}

		.header__button_box {
			width: 180px;
			margin: 23px auto;

			h4 {
				width: 150px;
				margin: auto;
			}
		}
	}


	.h2-3 {
		width: 500px;
		margin-top: 71px;
		margin-bottom: 35px;
	}

	.discover {

		.discover-container {
			width: 748px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.discover__box {
				@include discover__box_tablet;
				margin-bottom: 19px;

				img {
					@include discover__box_tablet;
				}
			}

			.discover__box_big {
				@include discover__box_big_tablet;

				img {
					@include discover__box_big_tablet;
				}
			}
		}

		.form-container__name {
			margin-top: 78px;
		}

		.form-container {
			width: 482px;
			height: 158px;
			margin: 43px auto 0;

			p {
				margin: 0 auto;
				text-align: center;
			}

			.form-container__box {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;

				input {
					width: 299px;
				}

				.header__button_box {
					width: 172px;
					margin-top: 15px;
				}
			}
		}
	}
}