hr
footer.footer-container
    .footer-box
        p.footer-box__logo DREAMSHARE
        .footer-menu
            p.footer-menu__company Company
            .footer-nav
                a(href='#') About
                a(href='#') Contact
                a(href='#') Press
                a(href='#') Blog
                a(href='#') Terms and Privacy
                a(href='#') Help
        p.footer-box__partners Partners
        .footer-box__designed
            p.footer-box__name DESIGNED BY
            .footer-box__img
                img(src='app/images/ARETO.png')
