header
    .header__box
        img(src="../../images/Bitmap (6).png")
        nav.nav
            a.nav__text(href='#') Log in
            .nav__button
                a.nav__text(href='#') Sign up
        h3 DREAMSHARE
        .header__information
            h1 SHARE YOUR HOLIDAY DREAM
            p.header__information_text And find the perfect partner to fullfill it
            .header__button_box
                a.header__button_text(href='#')
                    h4 Find your holiday partner